@model IEnumerable<QuizData.AnswerTypeSummary>
@{
    ViewData["Title"] = "Answer Types";
    Layout = "_Layout";
}
<table class="table table-sm table-striped">
    <thead>
    <tr><th>Quiz Name</th><th>Question Type Name</th><th>Answer Type Name</th><th>Actions</th></tr>
    </thead>
    <tbody>
    @foreach (var answerType in Model) {
        <tr>
            <td>@answerType.QuizName</td>
            <td>@answerType.QuestionTypeName</td>
            <td>@answerType.AnswerTypeName</td>
            <td>
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit"
                       class="btn btn-sm btn-warning" asp-route-id="@answerType.ID">
                        Edit
                    </a>
                    <input type="hidden" name="id" value="@answerType.ID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Create New Answer Type</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go To Home</a>
</div>

