<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2>Input Data</h2>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "Quiz")">Quizes</a></li>
            <li><a href="@Url.Action("Index", "QuizTheme")">Quiz Themes</a></li>
            <li><a href="@Url.Action("Index", "QuestionType")">Question Types</a></li>
            <li><a href="@Url.Action("Index", "AnswerType")">Answer Types</a></li>
            <li><a href="@Url.Action("Index", "Question")">Questions</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Login", "User")">Log In</a></li>
            <li><a href="@Url.Action("Logout", "User")">Log Out</a></li>
        </ul>        
    </div>
</nav>